@mixin height($unit) {
  @if $unit {
    height: px-rem($unit);
  }
}

@mixin width($unit) {
  @if $unit {
    width: px-rem($unit);
  }
}

@mixin font-size($unit) {
  @if $unit {
    font-size: px-rem($unit);
  }
}

@mixin generate-margin-padding($val) {
  .m-#{$val} {
    margin: $val+px !important;
  }

  .mt-#{$val} {
    margin-top: $val+px !important;
  }

  .mb-#{$val} {
    margin-bottom: $val+px !important;
  }

  .ml-#{$val} {
    margin-left: $val+px !important;
  }

  .mr-#{$val} {
    margin-right: $val+px !important;
  }

  .p-#{$val} {
    padding: $val+px !important;
  }

  .pt-#{$val} {
    padding-top: $val+'px' !important;
  }

  .pb-#{$val} {
    padding-bottom: $val+'px' !important;
  }

  .pl-#{$val} {
    padding-left: $val+'px' !important;
  }

  .pr-#{$val} {
    padding-right: $val+'px' !important;
  }
}

@mixin include-mat-icon-styles($unit) {
  height: px-rem($unit);
  width: px-rem($unit);
  font-size: px-rem($unit);
}

@mixin create-full-height($val) {
  .height-#{$val}vh {
    min-height: calc(#{$val+'vh'} - #{px-rem(64)});
  }
}